n8n_workflows/docusign_webhook_workflow.json
{
  "name": "DocuSign Contract Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docusign-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1b9115e9-f1e9-4c8d-b563-0cc4d2b69e76",
      "name": "Webhook",
      "webhookId": "2232107e-3aa8-4374-9b0d-2339552eaa0e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2161d891-2d64-4099-b7a1-ebcfab848e84",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "envelope-completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "aecb2e81-5a3d-4390-a8ef-e94d9c782bc2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/webhooks/docusign",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"{{ $json.body.event }}\",\n  \"data\": {\"envelope_id\": \"{{ $json.body.envelopeId }}\"},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "bb1f4bbe-cbbf-4716-a0a9-419fa4418dc4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -96
      ],
      "id": "b93641ab-127a-410a-b060-4dc3459d2130",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "648d357a-797e-48f7-80cc-37455ad18e2f",
  "meta": {
    "instanceId": "3328513a456a5e367be51c8c3ac21427e8d061cc807d0b2ccdc95bdca836d28b"
  },
  "id": "efdnhwDPCjFNQwR2",
  "tags": []
}